<section>
  <div class="landing-page-grid">

    <div class="item grid-1">
      <%= image_tag 'landing-1.jpg' %>
      <div class="sub-grid-1">
        <h2>The Secret to Better Makeup</h2>
        <p>Explore Double Cleansing</p>
        <%= link_to products_path do %>
          <span class="button">></span>
        <% end %>
      </div>
    </div>

    <div class="item grid-2">
      <%= image_tag 'landing-2.jpg' %>
      <div class="sub-grid-2">
        <h2>New to K-Beauty?</h2>
        <p>Sign Up Here</p>
        <%= link_to new_users_path do %>
          <span class="button">></span>
        <% end %>
      </div>
    </div>

    <div class="item grid-3">
      <%= image_tag 'landing-3.jpg' %>
      <div class="sub-grid-3">
        <h2>Best of K-Beauty 2017</h2>
        <p>See this year's winners</p>
        <%= link_to products_path do %>
          <span class="button">></span>
        <% end %>
      </div>
    </div>

  </div>
</section>
