<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/14d9b72565.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <section class="pre-header">
          <p>Hello, <%= current_user.email %>!</p>
      </section>
    <% end %>
    <header>
      <div class="logo">
        <h1>RAIN<span>FOREST</span></h1>
      </div>
      <div class="main-nav">
        <nav>
          <ul>
            <li><%= link_to("Home", root_url) %></li>
            <li><%= link_to("All Products", products_path) %></li>
            <li><%= link_to("Add a Product", "/products/new") %></li>
            <% if session[:user_id] %>
            <li><%= link_to("Logout", sessions_path, method: :delete) %></li>
            <% else %>
            <li><%= link_to("Add Account", new_users_path) %></li>
            <li><%= link_to("Sign In", new_sessions_url) %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
    <%#= render partial: 'products/products' %>

    <footer>
      <section class="footer-1">
        <h3>You Know What Else I Can Do?</h3>
        <p>Check out some of my other projects, or connect with me on LinkedIn:</p>
        <div class="icons">
          <a href="https://github.com/achristens" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/abigail-christens-8898bb30" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </section>
      <section class="footer-2">
        <p>Made With ♡ By Abby Christens</p>
      </section>
    </footer>
  </body>

</html>
